.imgDr {
  height: 95%;
  border-radius: 1%;
  box-shadow: 20px 30px 30px -10px rgba(0, 0, 0, 0.9);
}

.cocktailInfo {
  width: 900px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  background-color: rgba(61, 61, 61, 0.5);
  padding: 25px 20px;
  border-radius: 1%;
  height: 60vh;
  flex-grow: 1;
  box-shadow: 20px 30px 30px -10px rgba(0, 0, 0, 0.9)
}

ul {
  height: 100px;
  color: white;
}

.instructions {
  margin-top: 30px;
  max-width: 300px;
  color: white;
}

.backBtn {
  text-decoration: none;
  color: white;
  // background-color: rgba(1, 97, 97, 0.5);
  // background-color: rgba(255, 217, 0, 0.5);
  background-color: rgba(91, 21, 37, 0.5);
  border: white double;
  padding: 10px;
}

.sglHeader {
  margin-top: 20px;
  width: 900px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}