main {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 750px;
  background-color: rgba(61, 61, 61, 0.5);
  padding: 25px 20px;
  border-radius: 1%;
  box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.9)
}

.sexypeople {
  border-radius: 1%;
  box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.9);
  width: 50%
}

.about {
  border-radius: 1%;
  text-align: center;
  width: 750px;
  color: rgb(235, 235, 235);
  line-height: 1.7;
}

.btn-menu {
  margin-top: 30px;
  text-decoration: none;
  color: white;
  // background-color: rgba(1, 97, 97, 0.5);
  // background-color: rgba(255, 217, 0, 0.5);
  background-color: rgba(91, 21, 37, 0.5);
  border: white double;
  padding: 10px;
}

