.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  padding: 3rem 0;
  background-color: rgba(91, 21, 37, 0.5);
  backdrop-filter: blur(1px);
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out
}

.sidebar.open {
  transform: translateX(0);
}
.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}

.closeIcon:hover {
  opacity: 0.9;
  scale: 1.1;
}

.sidebar a{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}